#body {
	font-family: 'Montserrat', sans-serif;
	background-color: gray;
}

header {
    background-color: darkgreen;
	padding: 20px 0;
}

nav {
	position: absolute;
	right: 0;
	top:50%
}

.caixa-header, form {
	width: 940px;
	position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-decoration:none;
	font-size: 22px;
    
}

nav a:hover {
	color: white;
	text-decoration: underline;
}
/* Página index.html */

.banner {
	width: 100%;
}

.principal {
	text-align: center;
	margin: 2em;
}

.principal p{
	padding: 5px;
}
.titulo-principal {
	font-size: 1.8em;
	padding: 1.2em;
}
p strong {
	font-weight: bold;
}

.nosso-estabelicimento {
	text-align: center;
	padding: 1.2em;
}


.nosso-estabelicimento h2 {
	font-size: 1.8em;
	margin: 1.2em;
}

.nosso-estabelicimento iframe {
	margin: 1.2em;

}
/* Página Produtos.html */
.produtos {
	width: 940px;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 50px 0;
}
.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produtos li:hover h2{
	font-size: 40px;
}
.produtos li{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-color: darkgreen;
	border-width: 3px;
	border-radius: 10px;
	width: 30%;
	margin: 0 1.5%;
	padding: 30px 20px ;
	box-sizing: border-box;
	
}

.produtos li:hover {
	border-color: yellow;
}

.produtos li:active {
	border-color: greenyellow;
}

.produto-descrição {
	font-size: 18px;
}

.produto-preço {
	font-weight:bold; 
	font-size: 22px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
}
footer img {
	padding: 3%;
}

.copyright {
	color: white;
	padding-bottom: 3%;

}
nav a:active {
	color:darkgreen;

}

/*Página de Contato*/
 .main-contato { 
	width: 940px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
 }
form {
	margin: 40px 0;
	
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-form-principal {
	width: 50%;
	display: block;	
	margin: 0 0 10px;
	padding: 10px 25px;

}

.checkbox {
    margin: 20px 0;
}

.agendar-atendimento {
	border-radius: 5px;
	width: 35%;
	transition: 1s all;
	background-color: darkgreen;
	color: white;
	padding: 15px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	margin: 20px 0;


}
.agendar-atendimento:hover {
	transform: scale(1.2);	

}


table {
	background-color: green;
	margin: 20px;
	color:snow;
}
table thead {
	background-color: darkgreen;
	padding: 8px 15px;
	border: 1px solid #000000;

}
table td, th {
	padding: 8px 15px;
	border: 1px solid #000000;
}