header {
    background-color: gray;
	padding: 20px 0;
}

nav {
	position: absolute;
	right: 0;
	top:50%
}

.caixa-header {
	width: 940px;
	position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	text-decoration:none;
	font-size: 22px;
    
}

nav a:hover {
	color: white;
	text-decoration: underline;
}
.produtos {
	width: 940px;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 50px 0;
}
.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produtos li:hover h2{
	font-size: 40px;
}
.produtos li{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-color: grey;
	border-width: 3px;
	border-radius: 10px;
	width: 30%;
	margin: 0 1.5%;
	padding: 30px 20px ;
	box-sizing: border-box;
	
}

.produtos li:hover {
	border-color: yellow;
}

.produtos li:active {
	border-color: green;
}

.produto-descrição {
	font-size: 18px;
}

.produto-preço {
	font-weight:bold; 
	font-size: 22px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
}
footer img {
	padding: 3%;
}

.copyright {
	color: white;
	padding-bottom: 3%;

}
nav a:active {
	color:darkgreen;

}