#body {
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(white, white, black);

}

header {
    background-color: darkgreen;
	padding: 20px 0;
}

nav {
	position: absolute;
	right: 0;
	top:50%
}


.caixa-header, form {
	width: 940px;
	position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-decoration:none;
	font-size: 22px;
    
}

nav a:hover {
	color: white;
	text-decoration: underline;
}

/* Página Produtos.html */
.produtos {
	width: 940px;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 50px 0;
	padding-bottom: 200px;
}
.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produtos li:hover h2{
	font-size: 40px;
}
.produtos li{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-color: darkgreen;
	border-width: 3px;
	border-radius: 10px;
	width: 30%;
	margin: 0 1.5%;
	padding: 30px 20px ;
	box-sizing: border-box;
	
}

.produtos li:hover {
	border-color: yellow;
}

.produtos li:active {
	border-color: greenyellow;
}

.produto-descrição {
	font-size: 18px;
}

.produto-preço {
	font-weight:bold; 
	font-size: 22px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
}
footer img {
	padding: 3%;
}

.copyright {
	color: white;
	padding-bottom: 3%;

}
nav a:active {
	color:darkgreen;

}

/*Página de Contato*/
 .main-contato,main { 
	width: 940px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
 }
form {
	margin: 40px 0;
	
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-form-principal {
	width: 50%;
	display: block;	
	margin: 0 0 10px;
	padding: 10px 25px;

}

.checkbox {
    margin: 20px 0;
}

.agendar-atendimento {
	border-radius: 5px;
	width: 35%;
	transition: 1s all;
	background-color: darkgreen;
	color: white;
	padding: 15px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	margin: 20px 0;


}
.agendar-atendimento:hover {
	transform: scale(1.2);	

}


table {
	background-color: green;
	margin: 20px;
	color:snow;
}
table thead {
	background-color: darkgreen;
	padding: 8px 15px;
	border: 1px solid #000000;

}
table td, th {
	padding: 8px 15px;
	border: 1px solid #000000;
}

/* Página index.html */



.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 1.8em;
	padding: 1.2em;
	font-weight: bold;
	clear: left;
}
.principal {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
}

.principal p{
	margin: 0 0 1em;
	font-size: 1.2em;
	
}

p strong {
	font-weight: bold;
}

p em {
	font-style: italic;
}
.titulo-principal:before {
	content:"["
}
.titulo-principal:after {
	content:"]"
}

.utensilios {
	float: left;
	width: 10em;
	margin-right: 20px;
	margin-left: 20px;
}

.nosso-estabelicimento {
	text-align: center;
	margin: 0 auto;

}


.nosso-estabelicimento h2 {
	font-size: 1.8em;
	padding: 1.2em;
}

.nosso-estabelicimento iframe, p {
	padding: 1.2em;
	margin: 1.2em;
}

.nosso-estabelicimento p { 
	font-size: 1.2em;
}

.beneficios {
	padding: 3em 0;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟊";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}


.imagem-beneficios:hover {
	opacity: 0.3;
}

.video-home {
	width: 560px;
	margin: 2em auto;
}


@media screen and (max-width: 480px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}
